{
  "extends": ["plugin:react/recommended", "prettier", "prettier/react"],
  "plugins": ["react", "prettier"],
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "strict": 0,
    "prettier/prettier": "error",
    "semi": ["error", "never"],
    "quotes": ["error", "single"],
  }
}
